@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --banner: #143B2E;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-jost);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer utilities {
  .font-merriweather {
    font-family: var(--font-merriweather), ui-serif, Georgia, serif;
  }

  .font-jost {
    font-family: var(--font-jost), ui-sans-serif, system-ui, sans-serif;
  }
}